header{
  background-color: skyblue;
  height:4.5vh;
  width:100vw;
}
.button{
  background-color: transparent;
  border:2px solid black;
  box-sizing: border-box;
  padding: 1vw;;
  color:black;
  position:fixed;
  top:40%;
  left:43%; 
}
.button:hover{
  font-size:0.8vw;
  transition: 0.2s;
}
.greenbutton{
  background-color: green;
  box-sizing: border-box;
  padding: 1vw;;
  color:white;
  border-radius:12px;
  outline: none;
  border:none;
}
.cancelbutton{
  background-color: transparent;
  box-sizing: border-box;
  padding: 0.8vw;;
  color:red;
  font-size:0.9vw;
  border-radius:12px;
  outline: none;
  border:1px solid black;
  margin-left:1vw;  
}
.sidediv{
  border:1px solid black;
  width:30vw;
  height:95vh;
  margin:0;
  padding:0;
  background-color:#f6f6f6;
  float:right;
  padding:1vw;
  box-sizing: border-box;
  transition:1s;
}
.sidedivdn{
  display:none;
  transition:1s;
}
.input1{
  height:4vh;
  width:20vw;
  padding-left:0.4vw;
  box-sizing: border-box;
}
.input{
  height:4vh;
  width:20vw;
  padding-left:0.4vw;
  box-sizing: border-box;
}
ul{
  list-style: none;
  float:right;
}

ul li::before {
    
     
                /* \2022 is the CSS Code/unicode for a disc */
                content: "\2022";  
                color: green; 
                display: inline-block; 
                width: 0.5em;
                margin-left: -0.9em;
                font-weight: bold;
                font-size:1.1rem;
}

.reddot::before {
    
     
  /* \2022 is the CSS Code/unicode for a disc */
  content: "\2022";  
  color: red; 
  display: inline-block; 
  width: 0.5em;
  margin-left: -0.9em;
  font-weight: bold;
  font-size:1.1rem;
}
.bluebox{
  height:20vh;
  width:26vw;
  border:2px solid skyblue;
  overflow-y: auto;
  padding:1vw;
  box-sizing: border-box;
}
.remove{
  /* border:2px solid black; */
  display:inline-block;
  width:2vw;
  height: 2.2vw;
  font-size: 2vw;
  cursor: pointer;
  margin-left:0.2vw;
  margin-top:1vh;
  box-sizing: border-box;
}